/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 2, ../scss/grid.scss */
._col {
  float: left;
  padding: 1%;
  position: relative; }

/* line 8, ../scss/grid.scss */
.__100pc {
  margin: 0.5%;
  width: 97%; }

/* line 13, ../scss/grid.scss */
.__90pc {
  margin: 0.5%;
  width: 87%; }

/* line 18, ../scss/grid.scss */
.__80pc {
  margin: 0.5%;
  width: 77%; }

/* line 23, ../scss/grid.scss */
.__70pc {
  margin: 0.5%;
  width: 67%; }

/* line 28, ../scss/grid.scss */
.__60pc {
  margin: 0.5%;
  width: 57%; }

/* line 33, ../scss/grid.scss */
.__50pc {
  margin: 0.5%;
  width: 47%; }

/* line 38, ../scss/grid.scss */
.__40pc {
  margin: 0.5%;
  width: 37%; }

/* line 43, ../scss/grid.scss */
.__30pc {
  margin: 0.5%;
  width: 27%; }

/* line 48, ../scss/grid.scss */
.__20pc {
  margin: 0.5%;
  width: 17%; }

@font-face {
  font-family: 'LinoLetterStd_Italic';
  src: url("font/LinoLetterStd-Italic.eot?") format("eot"), url("font/LinoLetterStd-Italic.otf") format("opentype"), url("font/LinoLetterStd-Italic.woff") format("woff"), url("font/LinoLetterStd-Italic.ttf") format("truetype"), url("font/LinoLetterStd-Italic.svg#LinoLetterStd-Italic") format("svg"); }

@font-face {
  font-family: 'NHaasGroteskDSPro_UltTh';
  src: url("font/NHaasGroteskDSPro-15UltTh.eot?") format("eot"), url("font/NHaasGroteskDSPro-15UltTh.otf") format("opentype"), url("font/NHaasGroteskDSPro-15UltTh.woff") format("woff"), url("font/NHaasGroteskDSPro-15UltTh.ttf") format("truetype"), url("font/NHaasGroteskDSPro-15UltTh.svg#NHaasGroteskDSPro-15UltTh") format("svg"); }

@font-face {
  font-family: 'NHaasGroteskDSPro_Lt';
  src: url("font/NHaasGroteskDSPro-45Lt.eot?") format("eot"), url("font/NHaasGroteskDSPro-45Lt.otf") format("opentype"), url("font/NHaasGroteskDSPro-45Lt.woff") format("woff"), url("font/NHaasGroteskDSPro-45Lt.ttf") format("truetype"), url("font/NHaasGroteskDSPro-45Lt.svg#NHaasGroteskDSPro-45Lt") format("svg"); }

@font-face {
  font-family: 'NHaasGroteskDSPro_Md';
  src: url("font/NHaasGroteskDSPro-65Md.eot?") format("eot"), url("font/NHaasGroteskDSPro-65Md.otf") format("opentype"), url("font/NHaasGroteskDSPro-65Md.woff") format("woff"), url("font/NHaasGroteskDSPro-65Md.ttf") format("truetype"), url("font/NHaasGroteskDSPro-65Md.svg#NHaasGroteskDSPro-65Md") format("svg"); }

/* line 21, ../scss/base.scss */
a, a:link, a:visited {
  color: #2d529a;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* line 27, ../scss/base.scss */
a:hover {
  outline-bottom: 1px solid #2d529a; }

/* line 32, ../scss/base.scss */
.top-all {
  background-color: #fff;
  filter: alpha(opacity=80);
  padding: 0;
  position: relative;
  width: 100%; }
  /* line 41, ../scss/base.scss */
  .top-all .menu-mob {
    display: none; }
  /* line 45, ../scss/base.scss */
  .top-all .top {
    display: table;
    margin-left: auto;
    margin-right: auto; }
    /* line 51, ../scss/base.scss */
    .top-all .top .logo {
      float: left;
      position: relative;
      width: 294px; }
    /* line 58, ../scss/base.scss */
    .top-all .top .arquivos {
      background-color: #2d529a;
      color: #fff;
      font-family: "NHaasGroteskDSPro_Md", sans-serif;
      font-size: 1.6em;
      margin-top: 30px;
      padding: 5px;
      position: absolute;
      right: 10%;
      z-index: 9999;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      /* line 69, ../scss/base.scss */
      .top-all .top .arquivos ul {
        list-style: none; }
      /* line 73, ../scss/base.scss */
      .top-all .top .arquivos a, .top-all .top .arquivos a:link, .top-all .top .arquivos a:visited {
        color: #fff;
        text-decoration: none; }
      /* line 76, ../scss/base.scss */
      .top-all .top .arquivos .arquivos_drop-list {
        display: none; }
        /* line 79, ../scss/base.scss */
        .top-all .top .arquivos .arquivos_drop-list li:first-child {
          border-top: 1px solid #fff; }
        /* line 83, ../scss/base.scss */
        .top-all .top .arquivos .arquivos_drop-list li {
          border-bottom: 1px solid #fff;
          padding: 3px 1px 3px 1px; }
    /* line 93, ../scss/base.scss */
    .top-all .top .block-right {
      text-align: right; }
      /* line 96, ../scss/base.scss */
      .top-all .top .block-right li {
        margin-bottom: 10px; }
      /* line 101, ../scss/base.scss */
      .top-all .top .block-right .menu {
        z-index: 9999; }
        /* line 104, ../scss/base.scss */
        .top-all .top .block-right .menu li {
          display: inline-table;
          margin-left: 10px; }
          /* line 108, ../scss/base.scss */
          .top-all .top .block-right .menu li a, .top-all .top .block-right .menu li a:link, .top-all .top .block-right .menu li a:visited {
            border-bottom: 2px solid #fff;
            color: #2d529a;
            font-family: "NHaasGroteskDSPro_Lt", sans-serif;
            font-size: 1.2em;
            text-decoration: none;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out; }
          /* line 117, ../scss/base.scss */
          .top-all .top .block-right .menu li a:hover {
            border-bottom: 2px solid #2d529a;
            text-shadow: 0px 0px 3px #b0cbff; }
          /* line 122, ../scss/base.scss */
          .top-all .top .block-right .menu li .editoria-drop-content {
            background-color: #2d529a;
            color: #fff;
            display: none;
            padding: 10px;
            position: absolute;
            z-index: 9999; }
            /* line 130, ../scss/base.scss */
            .top-all .top .block-right .menu li .editoria-drop-content li {
              border-bottom: 1px solid #3373b1;
              display: block;
              font-size: .9em;
              margin-bottom: 5px;
              margin-left: 0;
              padding-bottom: 6px;
              padding-top: 6px;
              text-align: left;
              width: 100%; }
              /* line 142, ../scss/base.scss */
              .top-all .top .block-right .menu li .editoria-drop-content li a {
                border: 0 !important;
                color: #fff !important; }
      /* line 158, ../scss/base.scss */
      .top-all .top .block-right .busca-all input[type="text"] {
        background: url();
        border: 1px solid #ccc;
        font-family: "NHaasGroteskDSPro_UltTh", sans-serif;
        font-size: 1em;
        text-align: right;
        outline: none; }
      /* line 167, ../scss/base.scss */
      .top-all .top .block-right .busca-all button {
        background: url();
        border: 0px;
        bottom: 0px;
        padding: 0; }

/* line 183, ../scss/base.scss */
.footer-all {
  background-color: #2b76c1;
  border-top: 3px solid #2d529a;
  color: #fff;
  height: 230px;
  position: relative;
  font-family: "NHaasGroteskDSPro_Lt", sans-serif;
  width: 100%; }
  /* line 192, ../scss/base.scss */
  .footer-all a, .footer-all a:link, .footer-all a:visited {
    border-bottom: 2px solid #2b76c1;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  /* line 199, ../scss/base.scss */
  .footer-all a:hover {
    border-bottom: 2px solid #2d529a;
    text-shadow: 0px 0px 3px #b0cbff; }
  /* line 204, ../scss/base.scss */
  .footer-all .footer-in {
    margin-left: auto;
    margin-right: auto; }
    /* line 208, ../scss/base.scss */
    .footer-all .footer-in .footer-left {
      position: relative;
      float: left;
      z-index: 9999; }
      /* line 213, ../scss/base.scss */
      .footer-all .footer-in .footer-left li {
        display: inline-block;
        margin-right: 10px; }
    /* line 220, ../scss/base.scss */
    .footer-all .footer-in .footer-right {
      position: relative;
      float: right; }
  /* line 227, ../scss/base.scss */
  .footer-all .hover-footer {
    background: url("../img/hover-footer.png") no-repeat;
    display: block;
    height: 210px;
    position: absolute;
    left: 0;
    width: 200px;
    z-index: 1; }

/* line 241, ../scss/base.scss */
.no-backgroundsize .top-all {
  height: 160px; }
  /* line 244, ../scss/base.scss */
  .no-backgroundsize .top-all .logo {
    float: none !important; }
  /* line 248, ../scss/base.scss */
  .no-backgroundsize .top-all .arquivos {
    left: 0;
    margin-bottom: 10px;
    margin-top: 5px !important;
    position: relative !important;
    text-align: center;
    width: 300px; }
/* line 260, ../scss/base.scss */
.no-backgroundsize .__80pc {
  width: 1000px !important; }
/* line 264, ../scss/base.scss */
.no-backgroundsize .capa-post {
  height: auto !important; }
  /* line 267, ../scss/base.scss */
  .no-backgroundsize .capa-post img {
    display: block !important; }

/* ==================================================================
	>1220px
================================================================== */
@media screen and (max-width: 1220px) {
  /* line 279, ../scss/base.scss */
  .top-all {
    height: 160px; }
    /* line 282, ../scss/base.scss */
    .top-all .logo {
      float: none !important; }
    /* line 286, ../scss/base.scss */
    .top-all .arquivos {
      left: 0;
      margin-bottom: 10px;
      margin-top: 5px !important;
      position: relative !important;
      text-align: center;
      width: 300px; } }
/* ==================================================================
	>910px
================================================================== */
@media screen and (max-width: 910px) {
  /* line 303, ../scss/base.scss */
  .block-right {
    display: none; }

  /* line 307, ../scss/base.scss */
  .block-left {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 310px; }
    /* line 314, ../scss/base.scss */
    .block-left .menu-mob {
      display: block !important; }
      /* line 317, ../scss/base.scss */
      .block-left .menu-mob select {
        width: 300px; }

  /* line 326, ../scss/base.scss */
  .footer-left li {
    display: block !important;
    margin-bottom: 8px; } }
/* line 4, ../scss/post.scss */
b {
  font-family: "NHaasGroteskDSPro_Md", sans-serif; }

/* line 7, ../scss/post.scss */
.graf-editoria-post {
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  width: 178px; }
  /* line 15, ../scss/post.scss */
  .graf-editoria-post div {
    height: 44px; }

/* line 22, ../scss/post.scss */
.capa-post {
  background-size: 100% auto;
  height: 30%; }

/* line 28, ../scss/post.scss */
.page {
  display: table;
  margin-left: auto;
  margin-right: auto; }
  /* line 33, ../scss/post.scss */
  .page .capa-post {
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    background-position: 0 -100px;
    display: table;
    height: 400px;
    margin-top: 30px;
    width: 100%; }
    /* line 45, ../scss/post.scss */
    .page .capa-post img {
      display: none;
      height: auto;
      width: 100%; }
  /* line 53, ../scss/post.scss */
  .page img {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 70%; }
  /* line 60, ../scss/post.scss */
  .page h1 {
    font-family: "NHaasGroteskDSPro_UltTh", sans-serif;
    font-size: 2em; }
  /* line 65, ../scss/post.scss */
  .page h2 {
    line-height: 20px;
    margin-top: 10px;
    font-family: "NHaasGroteskDSPro_Lt", sans-serif;
    font-size: 1.1em;
    font-weight: normal; }
  /* line 73, ../scss/post.scss */
  .page p {
    font-family: "NHaasGroteskDSPro_Lt", sans-serif;
    line-height: 20px;
    margin-bottom: 15px;
    text-align: justify; }
  /* line 80, ../scss/post.scss */
  .page .destaque_text {
    font-family: "LinoLetterStd_Italic", serif;
    font-size: 1.7em;
    font-style: italic;
    line-height: 31px;
    text-align: right; }
    /* line 87, ../scss/post.scss */
    .page .destaque_text span {
      color: #000;
      display: block;
      font-family: "NHaasGroteskDSPro_Md", sans-serif;
      font-size: .7em;
      margin-top: 15px; }
  /* line 97, ../scss/post.scss */
  .page .post-top {
    display: block;
    margin-bottom: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative; }
    /* line 104, ../scss/post.scss */
    .page .post-top .line {
      border-top: 3px solid;
      display: block;
      position: absolute;
      width: 20%; }
    /* line 111, ../scss/post.scss */
    .page .post-top ._top {
      top: 0; }
    /* line 115, ../scss/post.scss */
    .page .post-top ._bottom {
      bottom: 0; }
  /* line 122, ../scss/post.scss */
  .page .post strong {
    font-family: "NHaasGroteskDSPro_Md", sans-serif; }

/*Strong on IE*/
/* line 133, ../scss/post.scss */
.no-backgroundsize .post strong {
  font-weight: bold !important; }

/* ==================================================================
	>1220px
================================================================== */
@media screen and (max-width: 1220px) {
  /* line 145, ../scss/post.scss */
  .page .capa-post {
    background-repeat: no-repeat !important;
    height: 350px !important; } }
/* ==================================================================
	>910px
================================================================== */
@media screen and (max-width: 910px) {
  /* line 158, ../scss/post.scss */
  .page .capa-post {
    height: 300px !important; }
  /* line 162, ../scss/post.scss */
  .page .post {
    float: none !important;
    width: 100%; }
  /* line 167, ../scss/post.scss */
  .page .destaque {
    display: none !important; } }
/* ==================================================================
	>910px
================================================================== */
@media screen and (max-width: 750px) {
  /* line 178, ../scss/post.scss */
  .page .capa-post {
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
    height: 250px !important; } }
