//Grid -------------------------------------------------------------
._col{
	float: left;
	padding: 1%;
	position: relative;
}

.__100pc{
	margin: 0.5%;
	width: 97%;
}

.__90pc{
	margin: 0.5%;
	width: 87%;
}

.__80pc{
	margin: 0.5%;
	width: 77%;
}

.__70pc{
	margin: 0.5%;
	width: 67%;
}

.__60pc{
	margin: 0.5%;
	width: 57%;
}

.__50pc{
	margin: 0.5%;
	width: 47%;
}

.__40pc{
	margin: 0.5%;
	width: 37%;
}

.__30pc{
	margin: 0.5%;
	width: 27%;
}

.__20pc{
	margin: 0.5%;
	width: 17%;
}